@import 'colors';

/* Adopt Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.adopt-page {
  background-color: $brandExtraLightGray;
}

.solo-doggo {
  h1 {
    text-align: left;
  }
  font-size: 16px;
  color: $brandDarkGray;
  background-color: $brandExtraLightGray;
  padding-top: 3em;
  .doggo-details {
    color: $brandGreen;
    font-size: 20px;
    font-weight: 600;
  }
  .carousel-item img {
    max-width: 80%;
    border: solid 1em $white;
  }
  .dog-info {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .trait-title {
    color: $brandDarkBlue;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .coral-button {
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
