@import 'fonts';
@import 'colors'; ///////////////
// dog card
//////////////

.card {
  max-width: 325px;
  min-width: 263px;
  max-height: 512px;
  border: none;
  font-family: 'Lato', sans-serif;
  color: $brandDarkGray;

  .underline {
    margin: -24px auto 0;
    background-color: rgba(246, 107, 105, .4);
    width: 70px;
    height: 10px;
    box-shadow: 0 1px 0 rgba(246, 107, 105, .5);
  }

  .card-body {
    width: 100%;
    padding: 1px;
    z-index: 3;
    background-color: $white;
  }

  .card-title {
    font-weight: 900;
    font-size: 20px;
  }

  .card-subtitle {
    margin: 0.5em 4em;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .card-text {
    text-align: left;
    margin: 0.5rem 1rem;
    overflow: hidden;
    max-height: 96px;

    p {
      margin: 0;
    }
  }
  /////////////////////////////
  //      Card angled image
  ////////////////////////////
  .card-img-container-angled {
    position: relative;
    display: inline;
    vertical-align: middle;
    height: 240px;

    .card-img {
      width: 100%;
      height: auto;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-left: 180px solid transparent;
      border-bottom: 30px solid white;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-right: 180px solid transparent;
      border-bottom: 30px solid white;
    }
  }
}
