/* Color Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Primary & Secondary Brand Colors

$brandGreen:  #489B7C; // Green
$brandCoral:   #F66B69; // Coral
$brandDarkBlue: #003040; // Blue
$brandExtraLightGray: #F2F2F2; // Very Light Gray
$brandLightGray: #979797; // Light Gray
$brandDarkGray: #434343; // Dark Gray
$brandMediumGray:    #666666; // Medium Gray
$black:        #000; // Black
$white:        #FFF; // White
