@import 'colors';

.green-button {
  background-color: $brandGreen;
  color: $white;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.green-button:hover {
  background-color: $brandGreen;
  color: $white;
  border: none;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.coral-button {
  background-color: $brandCoral;
  color: $white;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.coral-button:hover {
  background-color: $brandCoral;
  color: $white;
  border: none;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}