@import 'colors';

.app {
  border-top: 20px solid $brandDarkBlue;
}

.main-navigation {
  border-top: 20px solid $brandGreen;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: $brandDarkGray;
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    color: $brandDarkGray;
  }
  img {
    padding-left: 3em;
  }
  li {
    list-style: none;
  }
  .justify-nav-links {
    display: flex;
    margin: auto;
  }
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  width: 100%;
  background-color: grey;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
}

.padding-margin-1 {
  padding: 1em;
  margin: 1em;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 40%;
}

.grey-container {
  height: 20vh;
  background-color: $brandLightGray;
  .top-grey {
    background-color: $brandDarkGray;
    height: 15vh;
  }
}
