/* Imports
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import 'colors';
/* Home Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.top-home-container {
  background-color: $brandExtraLightGray;
  min-height: 800px;
  padding-bottom: 3em;
  padding-top: 3em;
  overflow: auto;

  .top-home-subtitle {
    border-top: solid 3px $brandCoral;
    border-bottom: solid 3px $brandCoral;
    margin: 1em auto auto;
    display: flex;
  }
}

.adoptable-dogs {
  min-height: 900px;
  background-color: lighten($brandGreen, 30%);

  h1 {
    padding-top: 2em;
    // box-shadow: 0 0 1px $brandCoral;
  }

  .card-deck {
    display: flex;
    width: 76%;
    min-width: 892.23px;
    margin: 2em auto;
    background-color: inherit;

    .coral-button {
      margin: 4% auto;
      padding: 0 4rem;
      border-radius: 5em;
      font-size: 0.8em;
      letter-spacing: 2px;
    }

    .adopted {
      border: 1px solid $brandCoral;
      background-color: $white;
      color: $brandCoral;
    }
  }

  .green-button {
    margin-top: 1em;
    width: 30%;
    min-width: 259px;
    background-color: $brandGreen;
  }
}

.about-us {
  h1 {
    padding-bottom: 0.75em;
  }
  padding: 1em;
  margin: 1em;
}

.contact-us {
  background-color: $brandExtraLightGray;
  padding-top: 2em;
  padding-bottom: 2em;
  .center-input {
    justify-content: center;
    align-items: center;
    margin: auto;

  }
  .green-button {
    margin: auto;
  }
}

/* Partner Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home-partners {
  margin-bottom: 65px;
  margin-top: 65px;
}
