/* Text Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@import 'colors';

h1 {
  font-size: 48px;
  color: $brandDarkBlue;
  font-family: 'Coustard', serif;
  text-align: center;
}

h2 {
  text-transform: capitalize;
  font-family: 'Coustard', serif;
  font-size: 24px;
  color: $brandDarkGray;
  padding: 1em;
  margin: 1em;
}

.main-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $brandDarkGray;
}

.input-label label {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
}

.required-star {
  color: $brandCoral;
}

.text-block{ 
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
